.floating-buttons {
  position: fixed;
  bottom: 20px; /* Ajusta la distancia desde la parte inferior */
  left: 20px; /* Ajusta la distancia desde la izquierda */
  display: flex;
  flex-direction: row; /* Los botones se muestran en línea horizontal */
  gap: 10px; /* Espacio entre los botones */
}

.floating-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #33a14b; /* Color de fondo para los botones */
  color: #fff; /* Color del texto/iconos */
  font-size: 20px;
  cursor: pointer;
}

.floating-button:hover {
  background-color: #0d541c; /* Cambia el color de fondo al pasar el cursor */
  color: #fff !important;
}

.text-justify {
  text-align: justify !important;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.roboto {
  font-family: "Roboto Condensed", sans-serif !important;
}

.fixed-bottom {
  bottom: 15px !important;
  position: fixed;
}

/*------------------------------------
  Botones de redes sociales al footer
------------------------------------*/
.g-fb-button {
  background-color: #4144a3 !important;
  color: #fff !important;
  border-radius: 100px !important;
  font-size: 25px;
}
.g-ig-button {
  border-radius: 100% !important;
  color: #fff !important;
  /* background: #E00062 !important; */
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  ); 
  font-size: 27px;
}
.g-wsp-button {
  border-radius: 100% !important; 
  background-color: #6fd384;
  color: white;
  font-size: 27px;
}
.g-whatsapp-button {
  color: #fff !important;
  border-radius: 100px !important;
  background-color: #25d366 !important;
}
.g-fb-button:hover {
  background-color: #3b5998 !important;
}
.g-ig-button:hover {
  background-color: #af47a6 !important;
}
.g-whatsapp-button:hover {
  background-color: #2da661 !important;
}

.btn-naranja {
  color: #fff !important;
  border-radius: 100px !important;
  background: rgb(4, 147, 167) !important; /* Fallback */
  background: linear-gradient(
    90deg,
    rgba(4, 147, 167, 1) 3%,
    rgba(41, 83, 160, 1) 100%
  ) !important;
}

.btn-naranja:hover {
  background: rgb(4, 100, 120) !important; /* Fallback */
  background: linear-gradient(
    90deg,
    rgba(4, 100, 120, 1) 3%,
    rgba(20, 50, 90, 1) 100%
  ) !important;
}

/*------------------------------------
  Colores montesur
------------------------------------*/

.color-azul {
  color: #1b325f !important;
}
.color-celeste {
  color: #3a89c9 !important;
}
.color-naranja {
  color: #0493A7 !important;
}

.color-celeste-bajo {
  color: #e9f2f9 !important;
}
/*------------------------------------
  Fondos montesur
------------------------------------*/

.fondo-azul {
  background-color: #1b325f !important;
}
.fondo-celeste {
  background-color: #3a89c9 !important;
}
.fondo-naranja {
  background-color: #f26c4f !important;
}

.fondo-celeste-bajo {
  background-color: #eaf6ffe1 !important;
}
/*------------------------------------
  Colores montesur HOVER
------------------------------------*/

.color-azul-hover:hover {
  color: #1b325f !important;
}
.color-celeste-hover:hover {
  color: #3a89c9 !important;
}
.color-naranja-hover:hover {
  color: #f26c4f !important;
}

.color-celeste-bajo-hover:hover {
  color: #e9f2f9 !important;
}

#footer[role="contentinfo"] {
  display: none !important;
}

.sidebar {
  transition: top 0.3s ease-in-out;
  width: 100%; /* Asegura el ancho dinámico */
  max-width: 300px; /* Ajusta al diseño */
}

.widget-title {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
}

/* Estado normal (inactivo) - semitransparente */
.swiper-step-pagination .swiper-slide {
  background-color: rgba(
    242,
    108,
    79,
    1
  ) !important; /* Verde semitransparente */
  color: rgba(255, 255, 255, 0.5) !important; /* Blanco semitransparente */
  padding: 10px !important;
  text-align: center !important;
  border-radius: 10px !important;
  transition: background-color 0.3s ease, color 0.3s ease !important; /* Transición suave */
}

/* Estado activo - sin transparencia */
.swiper-step-pagination .swiper-slide.swiper-slide-active,
.swiper-step-pagination .swiper-slide:focus {
  background-color: rgba(242, 108, 79, 1) !important; /* Fondo verde completo */
  color: white !important; /* Texto blanco completo */
  outline: none !important; /* Quitar el borde por defecto al enfocar */
}

/* El estado focus también será sin transparencia */
.swiper-step-pagination .swiper-slide:focus {
  background-color: rgba(242, 108, 79, 1) !important;
  color: white !important;
}

@media (max-width: 600px) {
  .slide-transparent::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Transparencia blanca */
    z-index: 1;
  }

  .slide-transparent .container,
  .slide-transparent .row,
  .slide-transparent .col-md-5 {
    position: relative;
    z-index: 2; /* Coloca el texto sobre la transparencia */
  }
}
